.buttonTranslate{
  width: 101%;
  font-size: 139%;
  font-family:'Poiret One';
  border-width:1px;
  color:#fff;
  border-color:rgba(255, 255, 255, 1);
  border-top-left-radius:28px;
  border-top-right-radius:28px;
  border-bottom-left-radius:28px;
  border-bottom-right-radius:28px;
  background:rgba(0, 0, 0, 0);
  height: 11%;
}

.buttonTranslate:hover {
  transform: scale(1.2);

}


.buttonLite{
  border-color:rgba(255, 255, 255, 0);
  background:none;
}

.buttonLite:hover {
  transform: scale(1.2)

}

.buttonLiteSun{
  display:block;
}

.buttonLiteMoon{
  display: none;
}



 

.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}