.personal{
    width: 100%;
    height: 741px;
    background: #977760;
    z-index: 1;
}

.personalFoto{
    width: 50%;
    height: 741px;
    flex-basis: 50%;
    background-image: url(/fotoForProject/personal.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.numberOfPunct04 {
    top: -188%;
    left: 82%;
    content: url(fotoForProject/04.svg);
}

.personMainText {
    top: -101%;
    left: 54%;
    width: 40%;
}

.personalHeadHeader {
    font-size: 60px;
    line-height: 75PX;
    margin-top: -26px;
    word-spacing: 187px;
}

.fotoPerson-SliderLine{
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    left: 0px;
    transition: all ease 1s;
}

.fotoPerson-Slide1{
    height: 100%;
    width: 25%;
    background-image: url(/fotoForProject/evgeniy.png);
    background-size: cover;
    background-position: center;
}

.fotoPerson-Slide2{
    height: 100%;
    width: 25%;
    background-image: url(/fotoForProject/step.jpg);
    background-size: cover;
    background-position: center;
}

.fotoPerson-Slide3{
    height: 100%;
    width: 25%;
    background-image: url(/fotoForProject/alex.jpg);
    background-size: cover;
    background-position: center;
}

.fotoPerson-Slide4{
    height: 100%;
    width: 25%;
    background-image: url(/fotoForProject/vik.jpg);
    background-size: cover;
    background-position: center;
}