.requestFrame{
    width: 100%;
    height: 989px;
    background-image: url(fotoForProject/zapros.png);
    background-size: cover;
    background-position: center;
}

.profileFrame {
    width: 100%;
    height: 870px;
    background-color: #E6E9EE;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.profileFrameFlex {
    display: flex;
    height: 71%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.requestFrameNav{
    display: flex;
    width: 100%;
    height: 74px;
    background: #B0947B;
    opacity: 0.87;
    justify-content: space-between;
}

.requestFrameNavMain {
    display: flex;
    width: 71%;
    justify-content: space-between;
}

.requestFrameNavText {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 45px;
    margin: 1%;
    letter-spacing: 0.14em;
    color: #E6E9EE;
}

.requestFrameForm {
    position: relative;
    top: 3%;
    left: 5%;
    width: 90%;
    height: 827px;
    display: flex;
    background: #B0947B;
    opacity: 0.82;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.requestFrameFormBigText {
    margin-top: 3%;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 0px;
    letter-spacing: 0.14em;
    color: #F7F6F2;
}

.requestFrameFormFirstPlace {
    width: 90%;
    height: 7%;
}

.requestFrameFormSmallText{
font-family: 'Poiret One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 0px;
margin-left: 1%;
letter-spacing: 0.14em;
color: #8C694F;


}

textarea:focus {
    outline: none;
  }

.requestFrameFormSecondPlace {
    width: 90%;
    height: 180px;
    background: #F7F6F2;
border-color:rgba(255, 255, 255, 0);
resize: vertical; /* позволяет пользователю изменять высоту textarea */
  box-sizing: border-box; 
}

.requestFrameFormThirtPlace{

    display: flex;
    width: 74%;
    justify-content: space-between;
}

.requestFrameFormThirtPlaceBlock{
width: 258px;
height: 174px;
background: #F7F6F2;
display: flex;
background-size: cover;
    background-position: center;
align-items: center;
justify-content: center;

transition: all ease 1s;
}

.requestFrameFormSmallTextColor1{
    color: #F7F6F2;
}

.requestFrameFormTub{
width: 254px;
height: 63px;
MARGIN-BOTTOM: 3%;
background: #F7F6F2;
border-color:rgba(255, 255, 255, 0);
}

.requestFrameButton{
width: 26%;
background: none;
border-color:rgba(255, 255, 255, 0);
}

.myProjectFrame{
    width: 100%;
    height: 989px;
    background-image: url(fotoForProject/MyProect.png);
    background-size: cover;
    background-position: center;
}

.myProjectFrameBigText{

    width: 100%;
    justify-content: center;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 69px;
    line-height: 0%;
    letter-spacing: 0.14em;
    color: #69432C;
}

.myProjectFrameMain{
    
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.myProjectFrameBigText1{
    width: 100%;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 63px;
    line-height: 0%;
    letter-spacing: 0.14em;
    color: #69432C;
}

.myProjectFrameLine{
width: 100%;
border: 2px solid #977760;
}

.myProjectFramePlaseForTecst{
background: #977760;

position: relative;
top: -58px;
left: -26%;
}

.myProjectFramePlasTecst{
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 0%;
    letter-spacing: 0.14em;
    color: #F7F6F2;


}

.myProjectFrameBigText2{

    width: 98%;
    text-align: end;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 0%;
    letter-spacing: 0.14em;
    color: #69432C;


}

.dropdownmenu{
        width: 81%;
        height: 6%;
        top: -70%;
        left: 9.5%;
        position: relative;
        background: #F7F6F2;
        opacity: 0.7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all ease 1s;
}

.dropdownmenumein{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.dropdownmenuOpen {
    height: 25%;
    opacity: 0.9;
}

.requestFrameFormSmallTextPunct{
    /* display: none; */
    opacity: 0;
    transition: all ease 1.5s;
    overflow: hidden;
    
}

.dropdownmenuButton{
    background: none;
    border-color:rgba(255, 255, 255, 0);
    transition: all ease 1.5s;
}

.rotate {
    transition: all ease 1.5s;
    transform: rotate(180deg);
  }

  .passwordWindow {
    width: 70%;
    opacity: 0;
    visibility: hidden;
    height: 70%;
    position: fixed;
    top: 14%;
    left: 15%;
    display: flex;
    background: #F0ECE6;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.massageWindow
{
    width: 40%;
    opacity: 0;
    visibility: hidden;
    height: 40%;
    position: fixed;
    top: 14%;
    left: 30%;
    display: flex;
    background: #F0ECE6;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .picture {
    background-color: pink;
    width: 47%;
    height: 43%;
    background-size: cover;
    background-position: center;
    transition: all ease 1s;
}

  .passwordWindowpicture {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    width: 90%;
    height: 85%;
}

.textInput{
    
    line-height: 100%;
}

.textInput1{
    font-size: 306%;
    font-weight: 700;
}

.textInput2{
    font-weight: 600;
    font-size: 251%;
}